header{
  background-image: url("http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg");
  
	
}
h1{
	text-align: center;
	color: #fffcfc;
text-transform: uppercase;
}
h2{
	color: none;
  text-transform: uppercase;
}
.right{
	
  width: 78%;
  
  background: none;
}

a{
	color: #000000;
	background: #c4c0c0;
}
img {
  border: 3px solid;
  border-radius: 4px;
  
  
  max-width: 50%;
  height:auto;
  background: green;
}
img{
  margin-left: auto;
  margin-right: auto;
 
  border: 3px solid;

  
  margin-top: 10px;
  margin-bottom:10px;
  display:block;
  
}
.left{
  width :19%;
  padding: 10px;
  background: #027320;
}

nav a:link, nav a:visited {
  
background-opacity: 0.4;
  background-color: #ffffff;
  border-radius: 3px;
  
  margin:15px;
  margin-right:19%;
  text-align: center;
  padding:5px 10px;
  text-decoration: none;
  display: inline-block;
  
}

nav a:hover, nav a:active {
 
  background-color: #65f791;
}
.left, .right{
  display: inline;
}
.right{
  float:right;
}
.left{
  float: left;
}
th{
	background: -webkit-linear-gradient(top, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 37%, rgba(117,137,12,1) 68%, rgba(117,137,12,1) 100%);
 
  border-radius: 7px 7px 0px 0px;
  
  padding:10px;
  padding-bottom: 20px;
  color: #ffffff;
  font-family: Sans-serif;
  font-size: 15px;
}
td{
  line-height: 1.6;
  background:#30ab3a;
  opacity:.75;
  border-radius:2px;
  text-shadow: 2px 2px 5px #2df7cf;
  font-family: Sans-serif;
}
td:hover{
  opacity:1;
}
td:first-child {
  
  text-align:left;
} 
th:first-child {
  
  text-align:left;
} 
td:nth-child(2) {
  text-align:center;
}
td:nth-child(3) {
  text-align:center;
}











